/* Write your code here. */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.heading {
  color: black;
  font-size: 26px;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 350px;
    align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  justify-content: flex-start;
}
.box1{
background-color: blue;
}

.box2{
 background-color: green;
}
.box3{
background-color: yellow;
}
.box4{
background-color:red;
}


.para {
  color: white;
margin-left: 10px;
  font-size: 15px;
  font-family: "Roboto";
}

.icon {
  height: 15px;
  width: 15px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}
